@font-face {
	font-family: "Neu5Land_Norm";
	src: url("https://static.iziit.org/fonts/Neu5Land_Norm.ttf");
}

@dark-green: #052f05;
@very-light-green: #f9fff9;

h1, h2 {
	text-align: center;
	font-weight: normal;
	font-family: "Neu5Land_Norm";
	color: @dark-green;
	margin: 0px;
}

h1 {
	font-size: 4em;
	border-bottom: 1.5px dotted @dark-green;
}

h2 {
	font-size: 2em;
	margin-top: .75em;
}

body {
	background-color: @dark-green;
	position: relative;
}

section {
	@section-width: 80vw;
	@section-padding: 3vw;
	@captcha-width: 304px;
	@send-button-width: 84.34px;

	@transition: (@captcha-width + @send-button-width) / unit((@section-width - 4 * @section-padding) / 2, "px");

	width: @section-width;
	min-width: unit(@section-width, "px") * @transition;
	padding: @section-padding;

	#contact-container {
		display: flex;
		justify-content: center;
		align-items: stretch;
		margin-top: 3em;

		#contact-delimiter {
			border-right: 1px solid @dark-green;
			margin: @section-padding;
		}

		#mail-container, #form-container {
		   flex-basis: 50%;
		}

		#mail-container {
			display: flex;
			flex-direction: column;

			h2 {
				flex-grow: 0;
			}

			#inner-mail-container {
				flex-grow: 1;

				a {
					text-align: center;

					img {
						height: 4em;
					}

					p {
						font-size: 1.15em;
					}
				}
			}
		}

		#form-container {
			h2 {
				margin-bottom: 1em;
			}

			label {
				font-weight: normal;

				small {
					font-size: 0.85em;
				}
			}

			@inputs-border-radius: 0.5em;

			input[type="email"], textarea {
				box-sizing: border-box;
				display: block;
				width: 100%;
				border-radius: @inputs-border-radius;
				padding: 5px 7px;
				border: 2px solid green;
				background-color: @very-light-green;
			}

			input[type="email"] {
				animation-delay: 0.5s;
			}

			#message {
				position: relative;
				width: 100%;

				&:before {
					content: "";
					display: block;
					padding-top: 50%;
				}

				textarea {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					height: 100%;
					resize: none;
				}

				#consent-overlay {
					display: none;

					&.activated {
						position: relative;
						z-index: 1;

						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						background-color: rgba(128, 128, 128, 0.274);
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: @inputs-border-radius;

						#consent {
							min-width: 90%;

							p, a, input {
								font-size: 0.9em;
							}

							p {
								margin-top: 0px;
								margin-bottom: 5%;
							}

							a {
								float: left;
							}

							input[type="button"] {
								float: right;
								margin-left: 3px;

								&[name="continue"] {
									font-weight: bold;
								}
							}
						}
					}
				}
			}

			#send {
				margin-top: 15px;
				display: flex;
				align-items: center;

				#captcha-container {
					min-width: @captcha-width;
					min-height: 78px;
				}

				#send-button-container {
					margin: auto;

					input {
						padding: 3px 9px;
						font-size: 1.1em;
					}
				}
			}
		}
	}

	@media (max-width: 100px * @transition) and (min-width: 700px) {
		padding: unit(@section-padding, "px") * @transition;

		#contact-container #contact-delimiter {
			margin: unit(@section-padding, "px") * @transition;
		}
	}

	@media (max-width: unit(@section-width, "px") * @transition) {
		min-width: 0;
		width: 100vw;
	}

	@media (max-width: 700px) {
		#contact-container {
			display: block;
			margin-top: 0;

			#contact-delimiter {
				display: none;
			}

			#mail-container h2, #form-container h2 {
				margin-top: 1.5em;
				margin-bottom: .5em;
			}
		}
	}

	@media (max-width: (@captcha-width + @send-button-width) / unit((100vw - 2 * @section-padding) / 100, "px")) {
		#contact-container #form-container #send {
			display: block;
			align-items: unset;

			#captcha-container {
				min-height: 0;
			}

			#send-button-container {
				margin: 15px 0 0 0;
			}
		}
	}
}

.flickering {
	animation-name: flickering;
	animation-duration: .25s;
	animation-iteration-count: infinite;
}

@keyframes flickering {
	50%		{ background-color: mix(red, @very-light-green, 11.5%);	}
	100%	{ background-color: mix(red, @very-light-green, 20%  );	}
}
