.big-screen {
	display: inline;
}

.little-screen {
	display: none;
}

h2 {
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

@header-height: 70px;
@video-height: 35vw;
@download-button-separation: 0.8;
@download-button-separation-angle: 1.9rad;
@download-button-image-spreading: 0.6;

#main-container {
	display: flex;
	flex-direction: column;

	#video-container {
		width: 100%;
		height: @video-height;
		position: relative;

		background-image: url("https://static.iziit.org/images/amazon.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;

		video {
			display: block;
			height: @video-height;
			margin: auto;
		}

		a {
			position: absolute;
			right: 9px;
			bottom: 5px;

			span {
				font-style: italic;
				font-weight: bold;
				text-shadow: 2px 2px 0px black;
			}
		}
	}

	@download-button-margin: 40px;

	section {
		padding-top: @download-button-margin;
		padding-bottom: 40px;
		box-shadow: 0px 0px 10px black;
		flex-grow: 1;

		#download {
			@button-width: 25vw;
			@button-height: 6vw;

			background: linear-gradient(
				@download-button-separation-angle,
				#5f5f5f,
				#5f5f5f @download-button-separation * 100%,
				#888888 @download-button-separation * 100%,
				#888888 
			);

			&:not(.unknown-browser) {
				background: linear-gradient(

					@download-button-separation-angle,
					#347133,
					#347133 @download-button-separation * 100%,
					#339f33 @download-button-separation * 100%,
					#339f33 
				);
			}

			border-radius: 1vw;
			width: @button-width;
			height: @button-height;
			margin: 0 auto @download-button-margin auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			user-select: none;

			&:active {
				transform: scale(.975);
				transition: .05s;
			}

			#download-left {
				width: @button-width * @download-button-separation;
				height: @button-height;

				p {
					display: inline-block;
					font-size: 2.5vw;
					font-weight: bold;
				}
			}

			#download-right {
				width: @button-width * (1 - @download-button-separation);
				height: @button-height;

				img {
					width: @button-width * (1 - @download-button-separation) * @download-button-image-spreading;
				}
			}
		}

		#ribbon {
			background-color: #56a756;
			width: 100%;
			// height defined by responsive.js

			#ribbon-content {
				height: 100%;
				width: 80%;
				margin: auto;

				display: flex;
				justify-content: space-between;
				align-items: center;

				#logos {
					// width defined by responsive.js
					min-width: 200px;
					height: 100%;

					@angle: -0.17rad;

					transform: skew(@angle);
					background-color: white;

					border: 1px solid white;
					// margin-left defined by responsive.js

					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;

					a {
						width: 80%;
						max-width: 300px;
						transform: skew(0-@angle);

						img {
							width: 100%;
							margin-top: 15px;
							margin-bottom: 15px;
						}
					}
				}

				p {
					text-align: justify;
				}
			}
		}
	}
}

@media (max-width: 1100px) {
	#main-container #video-container a span {
		display: none;
	}
}

@media (max-width: 1000px) {
	#main-container section #download {
		@button-width: 200px;
		@button-height: 60px;

		width: @button-width;
		height: @button-height;

		#download-left {
			width: @button-width * @download-button-separation;
			height: @button-height;

			p {
				font-size: 1.5em;
			}
		}

		#download-right {
			width: @button-width * (1 - @download-button-separation);
			height: @button-height;

			img {
				width: @button-width * (1 - @download-button-separation) * @download-button-image-spreading;
			}
		}
	}
}

@media (max-width: 700px) {
	#main-container {
		#video-container {
			&, video {
				height: 50vw;
			}
		}

		section {
			padding-bottom: 0px;

			#ribbon {
				#ribbon-content {
					flex-direction: column;
					width: 100%;
					padding: 0px;
					margin: 0px;

					#ribbon-text {
						margin: 20px;
						margin-top: 0px;
					}

					#logos {
						margin: 0px;
						transform: none;
						height: initial;

						a {
							max-width: 200px;
							transform: none;
						}
					}
				}
			}
		}
	}

	.big-screen {
		display: none;
	}

	.little-screen {
		display: inline;
	}
}
