.animated-link {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
}

.animated-link:hover::before, .animated-link-trigger-zone:hover .animated-link::before {
	visibility: visible;
	transform: scaleX(1);
}

.animated-link, .animated-link-trigger-zone {
	cursor: pointer;
	&, &:hover, &:focus {
		text-decoration: none;
	}
}

// colors :

.animated-link {
	&, &:hover, &:focus {
		color: black;
	}
	&::before {
		background-color: black;
	}
}

.animated-link-white {
	&, &:hover, &:focus {
		color: white;
	}
	&::before {
		background-color: white;
	}
}

.animated-link-green {
	&, &:hover, &:focus {
		color: green;
	}
	&::before {
		background-color: green;
	}
}
