@font-face {
	font-family: "Neu5Land_Norm";
	src: url("https://static.iziit.org/fonts/Neu5Land_Norm.ttf");
}

@dark-green: #052f05;

html * {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}

i {
	font-weight: normal;
	font-style: italic;
}

input[type="button"] {
	cursor: pointer;
	border: 1px solid rgb(177, 177, 177);
	border-radius: 5px;
	padding: 1px 3px;
	background-color: #f8f8f8;

	&:active {
		background-color: #298b29;
		color: white;
	}
}

.center, .default-display #main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prevent-scrolling {
	position: fixed;
	overflow: hidden;
}

@header-height: 70px;

header, section {
	background-color: white;
}

header {
	z-index: 3;
	position: fixed;
	top: 0px;
	left: 0px;
	height: @header-height;
	width: 100%;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 10px black;

	img {
		@img-height: 60px;

		height: @img-height;
		margin: (@header-height - @img-height)/2;
	}

	nav {
		display: flex;
		align-items: center;

		&>ul {
			list-style: none;

			li {
				display: inline-block;
				margin-left: 20px;
				margin-right: 20px;

				a {
					font-size: 1.2em;
				}
			}
		}

		#nav-logo {
			display: none;

			#nav-overlay {
				display: none;
			}
		}
	}
}

footer {
	width: 100%;
	height: 25px;
	background-color: rgb(38, 122, 104);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	z-index: 2;

	a {
		font-size: 0.85em;
		margin-right: 2vw;
	}
}

#main-container {
	width: 100%;
	min-height: 100vh;
	padding-top: @header-height;

	section {
		position: relative;
		z-index: 1;
	}
}

.default-display {
	background-color: @dark-green;

	h1, h2, h3 {
		font-weight: normal;
		font-family: "Neu5Land_Norm";
		color: @dark-green;
		margin: 0px;
	}

	h1 {
		font-size: 4em;
		border-bottom: 1.5px dotted @dark-green;
		text-align: center;
		margin-bottom: .4em;
	}

	h2 {
		font-size: 2em;
		margin-top: .6em;
	}

	h3 {
		font-size: 1.5em;
		margin-top: .4em;
		text-indent: .4em;
	}

	p {
		margin-top: .3em;
		margin-bottom: .3em;
		text-align: justify;
	}

	#main-container {
		section {
			@transition: 900px;

			min-width: @transition;
			width: 80vw;
			padding: 3vw;

			@media (max-width: @transition) {
				min-width: unset;
				width: 100vw;
			}
		}
	}
}

@media (max-width: 700px) {
	html * {
		font-size: 14px;
	}

	@header-height: 60px;

	#main-container {
		padding-top: @header-height;
	}

	header {
		height: @header-height;

		img {
			@img-height: 50px;

			height: @img-height;
			margin: (@header-height - @img-height) / 2;
		}

		nav {
			&>ul {
				display: none;
			}

			#nav-logo {
				display: block;

				#inner-nav-logo {
					margin-right: 12px;
					width: 24px;
					height: 24px;
					cursor: pointer;
					position: relative;

					.nav-logo-line {
						width: 100%;
						height: 2px;
						background-color: gray;
						transition-duration: 500ms;
					}

					.nav-logo-line-0 {
						margin-top: 3px;
					}

					.nav-logo-line-1, .nav-logo-line-2 {
						margin-top: 6px;
					}

					&:active {
						transform: scale(.9);
						transition: .1s;
					}
				}

				&.opening, &.visible {
					.nav-logo-line-0 {
						transform: translateY(8px) rotate(45deg);
					}
					.nav-logo-line-1 {
						transform: scaleX(0);
					}
					.nav-logo-line-2 {
						transform: translateY(-8px) rotate(-45deg);
					}
				}

				&.opening, &.closing, &.hidden {
					ul {
						display: none;
					}
				}

				&.opening, &.closing, &.visible {
					#nav-overlay {
						display: block;
						background-color: #234b22;
						position: fixed;
						top: 0px;

						ul {
							list-style: none;
						}
					}
				}

				&.opening #nav-overlay, &.closing #nav-overlay {
					right: 0px;
					border-radius: 100%;
					transform: translate(50%, -50%);
					animation-name: nav-anim-open;
					animation-duration: 0.5s;
					animation-timing-function: cubic-bezier(.22, .53, .41, -0.18);

					@media (orientation: portrait) {
						@keyframes nav-anim-open {
							from {
								width: 0;
								height: 0;
							}
							to {
								width: 100vh;
								height: 100vh;
							}
						}
					}

					@media (orientation: landscape) {
						@keyframes nav-anim-open {
							from {
								width: 0;
								height: 0;
							}
							to {
								width: 100vw;
								height: 100vw;
							}
						}
					}
				}

				&.closing #nav-overlay {
					animation-direction: reverse;
				}

				&.visible #nav-overlay {
					width: 100vw;
					height: 100vh;
					left: 0px;

					box-sizing: content-box;
					padding-bottom: 25vh;

					display: flex;
					align-items: center;
					justify-content: center;

					ul {
						text-align: center;

						li {
							@margin-value: 10vh;

							margin-top: @margin-value;
							margin-bottom: @margin-value;
							display: block;
							opacity: 0;

							a {
								color: white;
								font-size: 2em;
								font-weight: bold;

								&:before {
									background-color: white;
								}
							}

							@nb-of-links: 3;
							@unit: .25s / @nb-of-links;
							@supplement: .75s;

							animation-fill-mode: forwards;
							animation-name: smooth-appearing;
							animation-timing-function: cubic-bezier(.27,.18,.25,1);

							@keyframes smooth-appearing {
								from {
									opacity: 0;
									transform: translateY(-10px);
								}

								to {
									opacity: 1;
									transform: scale(1.05);
								}
							}

							&:nth-child(1) {
								animation-delay: 0 * @unit;
								animation-duration: 3 * @unit + @supplement;
							}

							&:nth-child(2) {
								animation-delay: 1 * @unit;
								animation-duration: 2 * @unit + @supplement;
							}

							&:nth-child(3) {
								animation-delay: 2 * @unit;
								animation-duration: 1 * @unit + @supplement;
							}
						}
					}
				}
			}
		}
	}
}
